* {
    margin: 0;
    padding: 0;
    
}

h1 {
    font-size: 40px;
    color:blue;
    padding-top: 5px;
}
h2 {
    
    font-size: 24px;
    color:orange;
    font-style: oblique;
    margin-left: 8px;
    margin-top: 8px;
    
}
span {
    color:burlywood;
    font-style: italic;
}
.top-banner {
    width:100%;
    height:80px;
    display: flex;
    color:white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,black, gray);
    
    font-weight:500 ;
    text-transform: uppercase;
    gap:8px;
    padding: 0px 16px;
}
.logo{
    width: 32px;
    height:32px;
}
.list {
    display: flex;
    list-style: none;
    gap: 32px;
   
}
.navbar{
    width: 100%;
    
    padding:8px 0px;
    background-color: black;
    position: relative;

}
ul{
    display:flex;
    
    font-size: 24px;
    justify-content: center;
    gap:48px;

}
.navbar ul a {
    color:white;
    text-decoration: none;

}



section p {
    flex:1;
    margin-top: 8px;
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background: papayawhip;
    font-family:'montserrat',sans-serif;
    line-height: 1.6;
    color:#333;
}
td,th {
    padding: 16px 16px;
}
table{
    border-collapse: collapse;
    margin-left:16px ;
    margin-top: 8px;;
    width:90%;
    font-family: Arial, Helvetica, sans-serif;
}
td,th{
    border: 1px solid black;
}
th{
    color:#5A4634;
    font-style: normal;
}
.intro-section{
    display: flex;
    align-items: center;
    gap: 56px;
}
.intro-section img{
    margin-top: 10px;
    width:200px;
    flex:1;
}
.intro-container{
  
  align-items: center;
  display: flex;
  
  margin-left: 16px;
  margin-top: 0;
  
  
}

.intro-text {
  flex: 2;
  
}

